.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}
.forgotPasswordButton {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: right;
  text-align: right;
}
.textArea {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 1px;
  font-size: 0.92857143em;
}
